<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">

<div layout:fragment="content">
	<h1>회원가입</h1>
	<form onsubmit="handleSubmit(event, this)">
		<div>
			<label for="username">UserName</label> <input type="text" name="username" id="username" required onchange="handleUsernameOnchange()">
			<button type="button" onclick="handleCheckDuplication()">중복 체크</button>
		</div>
		<div id="username-alert"></div>
		<div>
			<label for="password">Password</label> <input type="password" name="password" id="password" required autocomplete="none">
		</div>
		<div>
			<button type="submit">회원가입</button>
		</div>
	</form>
	<script type="text/javascript">
		
		const handleUsernameOnchange = ()=>{
			$('#username-alert').text('');
			fetch('/api/auth/usernameOnchange',{method : "get"})
		}
	
		const handleCheckDuplication = () =>{
			let username = $('#username').val()
			if(username == ''){
				$('#username-alert').text('username이 비어있습니다.')
				return
			}

			let body = { username : username }

			fetch('/api/auth/checkUsernameDuplication', {method : 'post', body : JSON.stringify(body), headers : {'Content-Type' : 'application/json'}})
			.then((res)=>res.text())
			.then((text)=>{
				console.log(text)
				if(text === 'false'){
					$('#username-alert').text('사용 가능한 username 입니다.')
				}else{
					$('#username-alert').text('사용 불가능한 username 입니다.')
				}
			})
		}
		
		const handleSubmit = (e, f)=>{
			e.preventDefault();
		
			let body = {
					username : f.username.value,
					password : f.password.value
			}
			fetch('/api/auth/createUser', {method : "post", body : JSON.stringify(body), headers : {'Content-Type' : 'application/json'}})
			.then((res)=>res.text())
			.then((text)=>{
				switch(text){
				case 'success' :
					alert('회원가입에 성공했습니다.')
					location.href='/login/loginForm';
					break;
				case 'duplicated' :
					alert('이미 사용중인 username 입니다.')
					break;
				case 'unChecked' :
					alert('username 중복체크를 해주세요.')
					break;
				default :
					alert('알수없는 에러 발생');
					break;
				}
			})
		}
	</script>
</div>
</html>