<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">
<th:block layout:fragment="css">
	<link rel="stylesheet" href="/css/post/posts.css" />
</th:block>
<div layout:fragment="content">
	<section class="section">
		<div class="bar">
			<button type="button" class="btn btn-secondary btn-sm" onclick="location.href='/post/create'">작성하기</button>
		</div>

		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col" class="col-2">글번호</th>
					<th scope="col" class="col-5">제목</th>
					<th scope="col" class="col-2">작성자</th>
					<th scope="col" class="col-3">작성일</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:if="${paging.isEmpty}">
					<tr>
						<td colspan="4">작성된 게시글이 없습니다.</td>
					</tr>
				</th:block>
				<th:block th:each="post : ${paging}">
					<tr>
						<td class="postId" th:text="${post.postId}" th:onclick="location.href='/post/list/'+[[${post.postId}]]"></td>
						<td class="post_title" th:text="${post.title}" th:onclick="location.href='/post/list/'+[[${post.postId}]]"></td>
						<td><a th:text="${post.user.nickname}" th:href="@{/user/{id}(id=${post.user.userId})}"></a></td>
						<td th:text="${#temporals.format(post.createdAt, 'MM-dd HH:mm')}"></td>
					</tr>
				</th:block>
			</tbody>
		</table>
		<div>
			<ul class="pagination justify-content-center">
				<li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'"><a class="page-link" th:href="@{|?page=${paging.number}|}"> <span>이전</span>
				</a></li>
				<li th:each="page: ${#numbers.sequence(startPage, lastPage)}" th:classappend="${page-1 == paging.number} ? 'active'"
					class="page-item"><a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a></li>
				<li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'"><a class="page-link" th:href="@{|?page=${paging.number+2}|}"> <span>다음</span>
				</a></li>
			</ul>
		</div>
	</section>
</div>
</html>