<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">
<th:block layout:fragment="css">
	<link rel="stylesheet" href="/css/user/mypage.css" />
</th:block>
<div layout:fragment="content" class="inner pt-4 pb-4">
	<h3 class="text-center pb-2">회원정보 수정</h3>
	<form class="d-flex flex-column gap-4 align-items-center">
		<div>
			<label for="username">Username</label> <input type="text" name="username" id="username" th:value="${user.username}" disabled="disabled"/>
		</div>
		<div>
			<label for="nickname">Nickname</label> <input type="text" name="nickname" id="nickname" th:value="${user.nickname}" />
		</div>
		<div>
			<label for="password">Password</label> <input type="password" name="password" id="password" autocomplete=none />
		</div>
		<button type="submit" class="btn btn-secondary">저장</button>
	</form>
</div>
</html>