body[class='light'] {
	--bg-color-body: white;
	--bg-color-container: whitesmoke;
	--bg-color-table: whitesmoke;
	--font-color: black;
	--border-color-table: lightgray;
}

body[class='dark'] {
	--bg-color-body: #111;
	--bg-color-container: #222;
	--bg-color-table: #333;
	--font-color: white;
	--border-color-table: #555;
}

body {
	background-color: var(--bg-color-body);
	color: var(--font-color)
}

.main-container {
	background-color: var(--bg-color-container) !important;
}