body[class='light'] {
	--bg-color-body: white;
	--bg-color-container: whitesmoke;
	--bg-color-table: whitesmoke;
	--bg-color-table-hover: #fff;
	--font-color: black;
	--font-color-sub : gray;
	--border-color-table: lightgray;
	--border-color-container : lightgray;
}

body[class='dark'] {
	--bg-color-body: #111;
	--bg-color-container: #222;
	--bg-color-table: #222;
	--bg-color-table-hover : #333;
	--font-color: white;
	--font-color-sub : gray;
	--border-color-table: #555;
	--border-color-container : #444;
}

body {
	background-color: var(--bg-color-body);
	color: var(--font-color)
}

.main-container {
	max-width: 1000px;
	min-width: 320px;
	background-color: var(--bg-color-container);
	border: 1px solid var(--border-color-container);
	border-top:none;
}

.navbar {
	border-bottom: 1px solid var(--border-color-container);
	background-color: var(--bg-color-container) !important;
}
.navbar .nav-item .nav-link{transition:none;}

#navbarNavDropdown{justify-content: space-between;}

.form-check.form-switch{display: flex; justify-content:flex-end; flex-direction: row; align-items: center; gap:7px;}
.form-check-label{display: block;}
.form-check-input{display: block; margin:0 !important;}




