<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">

<div layout:fragment="content">
	<h1>로그인</h1>
	<form action="/login/login-proc" method="post">
		<div>
			<label for="username">UserName</label> <input type="text"
				name="username" id="username" required>
		</div>
		<div>
			<label for="password">Password</label> <input type="password"
				name="password" id="password" required>
		</div>
		<div>
			<button type="submit">로그인</button>
		</div>
	</form>
</div>

</html>